* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: azure;
  display: flex;
}
.warp {
  width: 1200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.25s;
}
.image {
  width: 22%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 0;
}
.image:hover img {
  transform: scale(1.2);
}
.gallery {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
}
.close {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
}
.control {
  font-size: 35px;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
}
.left {
  left: 15px;
}
.right {
  right: 15px;
}
.gallery__inner {
  width: 70%;
  height: 70%;
  margin: 0 auto;
}
.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
