
:root{
    --pink-color: #e26e70;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100%); 
    height: 100vh;
    overflow: hidden;
}
.button-main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 20px;
    outline: none;
    background-color: #fff;
    transition: 0.25s;
}
.model{
   background-color:rgba(0, 0, 0, 0.6);
   width: 100vw;
   height: 100vh;
   position: fixed;
    top: 0;
    display: none;
}
.model__inner{
    width: 430px;
    top: 50%;
    position: relative;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    animation: showModal linear 0.2s;
    transition: 0.25s; 
}
@keyframes showModal {
    from {
      top: -200px;
      opacity: 0;
    }
    to {
      top: 50%;
      opacity: 1;
    }
  }
.model__header{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--pink-color);
    font-size: 21px;
}
.model__content{
    padding: 15px;
}
h2{
    color: var(--pink-color);
    margin-bottom: 10px;
}
.model__footer{
    padding: 15px;
    float: right;
}
.model__footer button{
    background-color: var(--pink-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}